<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wokiee</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="./css/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://unpkg.com/vue@next"></script>


  </head>
<body>

    <div id="app">
      <div class="nav-bar"></div>

    <div class="container">
        <div class="row">
            <div class="col-6 d-flex justify-content-center">
                <img v-bind:src="image" alt="">
            </div>
            <div class="col-6">
                <div class="add-info">
                    <ul>
                        <li class="sku-js">
                            <span>SKU:</span>
                            <span class="value">{{ items[0].code }}</span>
                        </li>
                        <li>
                            <span>Availability:</span>
                            <span v-if="inStock" class="value">In Stock</span>
                            <span v-else class="value">Out Of Stock</span>
                        </li>
                    </ul>
                </div>
                
                <div class="title">
                    <h2>{{ name }}</h2>
                </div>
                
                <div class="price">
                  <i class="fas fa-dollar-sign"></i>  
                  <span> {{ items[0].price }} </span>
                </div>

                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>

                <div class="title-option">
                    COLOR:
                    <span> {{ color }} </span>
                </div>

                <div class="image-option d-flex p-3">
                    <div class="card m-2" style="width: 3rem;" v-for="item in items" :key="item.id" @mouseover="updateImage(item.image)">
                        <img  v-bind:src="item.image"  class="card-img-top" alt="..." >
                    </div>
                </div>

                <div class="d-flex item">
                    <div class="count-item"> {{ cart }} </div>
                    <button 
                      type="button" 
                      class="btn btn-primary btn-add-to-cart" 
                      v-on:click="addToCart"
                    >
                        <i class="fas fa-shopping-bag"></i>
                        Add To Cart
                    </button>

                </div>
            </div>
          </div>
    </div>
    </div>

    

    <!-- Import Main Js -->
    <script src="./main.js"></script>

    <!-- Import Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
</body>
</html>












<!-- https://wokiee-demos.myshopify.com/collections/trending/products/copy-of-woven-shield-sunglasses?variant=14334868783162 -->